# JWT 配置
JWT_SECRET_KEY=               # JET密钥
ISSUER=                       # 签发者
EXP_TIME_HOURS=               # token过期时间

# MySQL 配置
MYSQL_ROOT_PASSWORD=          # ROOT密码
MYSQL_DATABASE=               # 数据库表
MYSQL_USER=                   # 用户名
MYSQL_PASSWORD=               # 密码
DB_DSN=                       # DSN

# Redis 配置
REDIS_ADDR=                   # Redis地址
REDIS_PASSWORD=               # Redis密码
REDIS_DB=                     # RedisDBID

# 应用配置
APP_PORT=                     # 监听端口
APP_ENV=production
LOG_LEVEL=info